<a href="https://colab.research.google.com/github/sherryjasal/worldhappinessreport2021/blob/main/happiness_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#importing relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Reading CSV Files**

In [9]:
happiness = pd.read_csv("World Happiness Report 2021/world-happiness-report-2021.csv")

In [10]:
  happiness.head()

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798

[5 rows x 20 columns]